@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default background for light mode */
  --foreground: #121313; /* Midnight Mass: Dark text on light background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121313; /* Midnight Mass: Dark background for dark mode */
    --foreground: #FFF9F4; /* Holy Light: Light text on dark background */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground); /* Ensure headings match the primary text color */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
